body {
  margin: 0;
  padding: 0;
  font-family: 'myfont', sans-serif;
  scroll-behavior: smooth;
  font-size: 20px;
  background-color: #ADC2A9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: myfont;
  src: url('../font/myfont-regular.otf');
}

@font-face {
  font-family: myfont;
  font-weight: bold;
  src: url('../font/myfont-regular.otf');
}

.home {
  background-color: #ADC2A9;
}

div.home {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ++++ header ++++ */

.first {
  font-size: 15px;
}

h1{
  margin-bottom: 0;
  font-size: 50px;
}
 
header{
  background-color: #ADC2A9;
  color: #FEF5ED;
  padding: 25px;
  text-align: center;
}

main {
  background-color: #ADC2A9;
  color: #FEF5ED;
  text-align: center;
}

/* ++++ nav bar ++++ */

nav{
  background-color: #ADC2A9;
  color: #FEF5ED;
  padding: 25px;
  text-align: center;
}
nav ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #FEF5ED;
  border-radius: 20px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}

nav a{
  color: #FEF5ED;
  text-decoration: none;
}

nav ul li a:hover  , 
nav ul li a.active {
    background: #FEF5ED;
    color: #B3A492;
}

/* ++++ welcoming text ++++ */

.welcome {
  text-align: center;
}

.first {
  padding-bottom: 20px;
}

.welcome img {
  margin: 0;
  padding: 0;
  height: 300px;
}

footer {
  background-color: #ADC2A9;
  color: #FEF5ED;
  margin-top: auto;
  padding: 25px;
  text-align: center;
}

/* Responsive styles for mobile view */
@media screen and (max-width: 768px) {
  nav {
    display: block;
    text-align: center;
  }

  nav ul {
    display: block;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    margin: 0;
  }

  nav a {
    display: block;
    padding: 10px;
  }
}
